.NavBar {
    display: none;
}

th {
    text-align: left;
}

.Base .Header {
    display: none;
}

.Report td, .Report th {
    padding-right: 10px;
}

.Report .Total {
    font-size: larger;
    font-weight: bolder;
}

.Report .Count {
    text-align: right;
}

.Report #header {
    font-size: larger;
    font-weight: bolder;
}

.Report #footer {
    font-size: smaller;
}

.ReportImportMappings .Description,.ReportExportMappings .Description {
    font-size: larger;
    font-weight: bolder;
}

.ReportList th, .ReportDups th {
    text-align: left;
}
