/* Reg CSS */
* {
	font-family: serif;
}

.Editor #first, .Editor #last {
	color: red;
}

.Editor .Value {
	width: 30em;
	text-align: left;
}

.Editor .Label {
	text-align: right;
}

table.Editor {
	border-style: solid;
	border: solid;
}

.Selected {
	background: red;
}

.Editor .InputInt {
	text-align: right;
	width: 5em;
}

.Editor .InputIntList {
	width: 30em;
}

.Editor .InputText {
	width: 100%;
}
.Editor .InputDate {
	width: 30em;
}

.Title {
	font-size: larger;
	font-weight: bolder;
}

input.Disabled {
	background-color: #ddd;
}

.Editor {
	height: 60%;
}

.MemberManager .List #pickupFlag {
	width: 1em;
	text-align: center;
}

.MemberManager .List #footer {
	color: gray;
	text-align: center;
}

.List table {
	width: 100%;
}

.ClassManager .List #amount, .ClassPicker .List #amount {
	width: 3em;
	text-align: right;
}
.ClassManager .List #order {
	text-align: right;
}

.ClassManager .List #metaclass {
	width: 3em;
	text-align: center;
}

.ClassManager .List #description {
	/* width: 100%; */
}

.Class .Editor #amount {
	width: 3em;
	text-align: right;
}

.NavBar {
	height: 15%;
}

html, body {
	height: 100%;
}

.Base {
	height: 100%;
}

.Body {
	height: 80%;
}

.Printers .List #type {
	width: 2em;
	text-align: center;
}

.Printers .List #name {
	width: 30%;
}

.StationManager .List #metaclasses {
	width: 10em;
	text-align: center;
}

.ReportsByClass #grand {
	font-size: larger;
	font-weight: bolder;
}

.ConflictResolver .Difference {
	background-color: yellow;
}

.ConflictResolver label {
	width: 100%;
	display: inline-block;
}

/* html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: table;
}

.Log, .Base {
	display: table-row;
	width: 100%;
}
.Log {
	height: 30%;
	max-height: 30%;
	overflow: scroll;
	border: 1px;
	background: lime;
}

.Base {
	height: 100%;
	background: pink;
} */

.ModalBackground {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.Modal {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

.ModalButtons {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	text-align: center;
}

.ErrorValue {
	background-color: pink;
}

.ErrorMessage {
	color: red;
	width: 20em;
}

.Base .Header {
	width: 100%;
	height: 5%;
}

.Base .Header #headerClock {
	display: inline-block;
	width: 50%;
	text-align: right;
}

.Base .Header #headerTitle {
	display: inline-block;
	width: 50%;
	text-align: left;
	font-size: larger;
	font-weight: bolder;
}