/* Reg CSS */
* {
    font-family: serif;
    /*
     * This makes the specified size of the elements include the padding; the
     * actual content size is the specified size minus the padding.
     */
    box-sizing: border-box;
}

pre {
    font-family: monospace;
}

:focus {
    background-color: lightgreen;
}

button {
    cursor: pointer;
}

.Editor #first, .Editor #last {
    color: red;
}

.Editor #notes {
    color: red;
    font-weight: bolder;
}

.Editor .Value {
    width: 30em;
    text-align: left;
}

.Editor .Label {
    text-align: right;
}

table.Editor {
    border-style: solid;
    border: solid;
}

.Selected {
    /* #00ff00 is "lime"?  Really? */
    background: lime;
}

.InputInt, .InputCurrency {
    text-align: right;
    width: 5em;
}

.Editor .InputIntList {
    width: 30em;
}

.Editor .InputText, .Editor .InputDBLookup {
    width: 100%;
}
.Editor .InputDate {
    width: 9em;
}

.Editor .InputDateTime {
    width: 12em;
}

.InputMultiButton {
    width: 2em;
}

.Title {
    font-size: larger;
    font-weight: bolder;
}

input.Disabled {
    background-color: #ddd;
}

.Editor {
    height: 60%;
}

.MemberManager .List #status {
    width: 1em;
    text-align: center;
}

.MemberManager .List #number {
    width: 5ch;
    text-align: right;
}

.MemberManager .List #footer {
    color: gray;
    text-align: center;
}

.MemberManager .List .Void {
    color: lightgray;
}

.AlertSubtitle {
    color: red;
    font-size: smaller;
    font-weight: normal;
}

.Menu {
    cursor: pointer;
}

.Menu .Item {
    font-size: larger;
}

.SearchBox {
    margin-left: 0.5em;
}

#map .InputText {
    width: 10em;
}

#corrections .InputText {
    width: 10em;
}

#classMap .InputText {
    width: 15em;
}

.List table {
    width: 100%;
    cursor: pointer;
}

.ListNoMatches {
    text-align: center;
    background: red;
}

.ListMoreMatches, .ListAllMatches {
    text-align: center;
    background: lightgreen;
}

.ClassManager .List #amount, .ClassPicker .List #amount {
    width: 3em;
    text-align: right;
}
.ClassManager .List #order {
    text-align: right;
}

.ClassManager .List #metaclass {
    width: 3em;
    text-align: center;
}

.ClassManager .List #description {
    /* width: 100%; */
}

.Class .Editor #amount {
    width: 3em;
    text-align: right;
}

/*
 * About vertical-align...
 * vertical-align has two modes, and they are fundamentally different.
 * When applied to inline and inline-block elements, it aligns the
 * element *itself* relative to the baseline and other text metrics
 * of the rest of the line.
 * When applied to table cells, as here, it aligns the *contents* of the
 * cell relative to the cell.  That "align content relative to parent"
 * semantic does not appear to be available using any other construct; in
 * particular, it does not appear to be possible to use CSS to align the
 * contents of a <div> relative to the <div>.
 */
.NavBar td {
    vertical-align: bottom;
}

html, body {
    height: 100%;
    margin: 0;
}

/*
 * For some reason, input and button don't seem to inherit font-size from
 * their parent.  Everything else does...
 */
input, button {
    font-size: inherit;
}

.Printers .List #type {
    width: 2em;
    text-align: center;
}

.Printers .List #name {
    width: 30%;
}

.StationManager .List #metaclasses {
    width: 10em;
    text-align: center;
}

.Report td, .Report th {
    padding-right: 10px;
}

.Report .Total {
    font-size: larger;
    font-weight: bolder;
}

.Report .Count {
    text-align: right;
}

.Report #amount {
    text-align: right;
}

.Report #badgeOK {
    text-align: center;
}

.Report #metaclass {
    text-align: center;
}

.Report #phoneLabel {
    text-align: center;
}

.Report #order {
    text-align: right;
}

.ReportList th, .ReportDups th {
    text-align: left;
}

.ReportList #number {
    text-align: right;
}

.ConflictResolver .Difference {
    background-color: yellow;
}

.ConflictResolver label {
    width: 100%;
    display: inline-block;
}

/* html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: table;
}

.Log, .Base {
    display: table-row;
    width: 100%;
}
.Log {
    height: 30%;
    max-height: 30%;
    overflow: scroll;
    border: 1px;
    background: lime;
}

.Base {
    height: 100%;
    background: pink;
} */

.ModalBackground {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    padding: 50px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.Modal {
    background-color: #fefefe;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.ModalBody {
    overflow: auto;
    width: 100%;
    height: 90%;
}
.ModalButtons {
    /* width: 100%; */
    height: 10%;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}

.ModalButtons td {
    vertical-align: bottom;
}

.ErrorValue {
    background-color: pink;
}

.ErrorMessage {
    color: red;
    width: 15em;
}

.Base {
    height: 100%;
    padding: 8px;
}

.Base .Header {
    width: 100%;
    height: 10%;
}

.Base .Header #headerTitle {
    display: inline-block;  /* NEEDSWORK: Why? */
    width: 75%;
    text-align: left;
    font-size: larger;
    font-weight: bolder;
    vertical-align: top;
}

.Base .Header #headerClock {
    display: inline-block;  /* NEEDSWORK: Why? */
    width: 20%;
    text-align: right;
}

.Base .Header #headerHelp {
    width: 5%;
    font-size: 170%;
    padding-left: 10px;
    vertical-align: top;
}

.Base .Body {
    height: 85%;
    overflow-y: auto;
}

.Base .NavBar {
    height: 5%;
}
